/*  your css code here. If applicable */
body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .price-card {
            width: 250px;
            height: 450px;
            border: none;
            border-radius: 10px;
            background-color: #777;
            padding: 40px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .product-image {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .product-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .product-price {
            font-size: 18px;
            color: #bdd1bd;
            margin-bottom: 5px;
        }

        .product-description {
            font-size: 14px;
            color: #f5ecec;
            margin-bottom: 15px;
        }

        .buy-now-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .buy-now-button:hover {
            background-color: #45a049;
        }